body {
  background-color: #00bfff;
  color: white;
  font-family: 'Raleway', sans-serif;


  font-size:22px;



}

#main{
  text-shadow: 1px 1px 3px rgba(#000, 0.15);
  max-width:600px;
  padding:10px 10%;
  margin: auto;
}

a {
  color: rgba(#fff, 0.8);

  &:focus,
  &:hover {
    color: rgba(#fff, 0.6);
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', serif;
  font-weight:normal;
}

h1{

  font-size:3.5em;
  text-align:center;
}

#translation_message, #google_translate_element{

}

#translations{
  text-align: center;
}